# Pandas example 2

Indexing in DataFrames


indexing by boolean masks
indexing using slices
column based and row based indexing
hierarchical indexing (needs a multi indexed DataFrame)

In [4]:
import pandas as pd

# sample DataFrame
import io

csv = '''
breed,type,longevity,size,weight
German Shepherd,herding,9.73,large,
Beagle,hound,12.3,small,
Yorkshire Terrier,toy,12.6,small,5.5
Golden Retriever,sporting,12.04,medium,60.0
Bulldog,non-sporting,6.29,medium,45.0
Labrador Retriever,sporting,12.04,medium,67.5
Boxer,working,8.81,medium,
Poodle,non-sporting,11.95,medium,
Dachshund,hound,12.63,small,24.0
Rottweiler,working,9.11,large,
Boston Terrier,non-sporting,10.92,medium,
Shih Tzu,toy,13.2,small,12.5
Miniature Schnauzer,terrier,11.81,small,15.5
Doberman Pinscher,working,10.33,large,
Chihuahua,toy,16.5,small,5.5
Siberian Husky,working,12.58,medium,47.5
Pomeranian,toy,9.67,small,5.0
French Bulldog,non-sporting,9.0,medium,27.0
Great Dane,working,6.96,large,
Shetland Sheepdog,herding,12.53,small,22.0
Cavalier King Charles Spaniel,toy,11.29,small,15.5
German Shorthaired Pointer,sporting,11.46,large,62.5
Maltese,toy,12.25,small,5.0
'''

dogs = pd.read_csv(io.StringIO(csv))
dogs

                            breed          type  longevity    size  weight
0                 German Shepherd       herding       9.73   large     NaN
1                          Beagle         hound      12.30   small     NaN
2               Yorkshire Terrier           toy      12.60   small     5.5
3                Golden Retriever      sporting      12.04  medium    60.0
4                         Bulldog  non-sporting       6.29  medium    45.0
5              Labrador Retriever      sporting      12.04  medium    67.5
6                           Boxer       working       8.81  medium     NaN
7                          Poodle  non-sporting      11.95  medium     NaN
8                       Dachshund         hound      12.63   small    24.0
9                      Rottweiler       working       9.11   large     NaN
10                 Boston Terrier  non-sporting      10.92  medium     NaN
11                       Shih Tzu           toy      13.20   small    12.5
12            Miniature Schnauzer       terrier      11.81   small    15.5
13              Doberman Pinscher       working      10.33   large     NaN
14                      Chihuahua           toy      16.50   small     5.5
15                 Siberian Husky       working      12.58  medium    47.5
16                     Pomeranian           toy       9.67   small     5.0
17                 French Bulldog  non-sporting       9.00  medium    27.0
18                     Great Dane       working       6.96   large     NaN
19              Shetland Sheepdog       herding      12.53   small    22.0
20  Cavalier King Charles Spaniel           toy      11.29   small    15.5
21     German Shorthaired Pointer      sporting      11.46   large    62.5
22                        Maltese           toy      12.25   small     5.0

## Indexing by location

Location-based a.k.a position-based or integer-based

In [35]:
# select the first column
# dogs.iloc[:,0]

# select the last row
# dogs.iloc[22,:]
dogs.iloc[-1,:]

breed        Maltese
type             toy
longevity      12.25
size           small
weight           5.0
Name: 22, dtype: object

## Indexing by labels

Label-based

In [34]:
# select all data from column breed
dogs['breed']

# select all data from column breed
# dogs.breed

0                   German Shepherd
1                            Beagle
2                 Yorkshire Terrier
3                  Golden Retriever
4                           Bulldog
5                Labrador Retriever
6                             Boxer
7                            Poodle
8                         Dachshund
9                        Rottweiler
10                   Boston Terrier
11                         Shih Tzu
12              Miniature Schnauzer
13                Doberman Pinscher
14                        Chihuahua
15                   Siberian Husky
16                       Pomeranian
17                   French Bulldog
18                       Great Dane
19                Shetland Sheepdog
20    Cavalier King Charles Spaniel
21       German Shorthaired Pointer
22                          Maltese
Name: breed, dtype: object

In [ ]:
# Indexing by slices

# select all data from two consecutive columns
# dogs.iloc[:,0:2]

# select data from certain rows and two columns
dogs.iloc[[1,3,5],[0,2]]