# Lesson 6 - Session 2 - Pandas example 2

## Indexing in DataFrames

1. Indexing by location
2. Indexing by label
3. Indexing by Boolean masks
4. Indexing using slices
5. Column based and row based indexing
6. Hierarchical indexing (needs a multi indexed DataFrame)

In [1]:
# read data from the text variable csv, keep only 5 top rows
import pandas as pd

# sample DataFrame
import io

csv = '''
breed,type,longevity,size,weight
German Shepherd,herding,9.73,large,
Beagle,hound,12.3,small,
Yorkshire Terrier,toy,12.6,small,5.5
Golden Retriever,sporting,12.04,medium,60.0
Bulldog,non-sporting,6.29,medium,45.0
Labrador Retriever,sporting,12.04,medium,67.5
Boxer,working,8.81,medium,
Poodle,non-sporting,11.95,medium,
Dachshund,hound,12.63,small,24.0
Rottweiler,working,9.11,large,
Boston Terrier,non-sporting,10.92,medium,
Shih Tzu,toy,13.2,small,12.5
Miniature Schnauzer,terrier,11.81,small,15.5
Doberman Pinscher,working,10.33,large,
Chihuahua,toy,16.5,small,5.5
Siberian Husky,working,12.58,medium,47.5
Pomeranian,toy,9.67,small,5.0
French Bulldog,non-sporting,9.0,medium,27.0
Great Dane,working,6.96,large,
Shetland Sheepdog,herding,12.53,small,22.0
Cavalier King Charles Spaniel,toy,11.29,small,15.5
German Shorthaired Pointer,sporting,11.46,large,62.5
Maltese,toy,12.25,small,5.0
'''

df = pd.read_csv(io.StringIO(csv))
df = df.head(5)
print(df)
print("#" * 40)
df.set_index('breed', inplace=True)
print(df)

               breed          type  longevity    size  weight
0    German Shepherd       herding       9.73   large     NaN
1             Beagle         hound      12.30   small     NaN
2  Yorkshire Terrier           toy      12.60   small     5.5
3   Golden Retriever      sporting      12.04  medium    60.0
4            Bulldog  non-sporting       6.29  medium    45.0
########################################
                           type  longevity    size  weight
breed
German Shepherd         herding       9.73   large     NaN
Beagle                    hound      12.30   small     NaN
Yorkshire Terrier           toy      12.60   small     5.5
Golden Retriever       sporting      12.04  medium    60.0
Bulldog            non-sporting       6.29  medium    45.0

## Indexing by location (1/6)

Location-based a.k.a position-based or integer-based

In [2]:
# select the first row of the DataFrame
df.iloc[0]

type         herding
longevity       9.73
size           large
weight           NaN
Name: German Shepherd, dtype: object

In [3]:
# select the first column of the DataFrame
df.iloc[:,0]

breed
German Shepherd           herding
Beagle                      hound
Yorkshire Terrier             toy
Golden Retriever         sporting
Bulldog              non-sporting
Name: type, dtype: object

In [4]:
# select a cell value by row and column index
df.iloc[0,2]

'large'

## Indexing by labels (2/6)

Label-based

In [5]:
# select the row with index 'Beagle'
df.loc['Beagle']

type         hound
longevity     12.3
size         small
weight         NaN
Name: Beagle, dtype: object

In [6]:
# select the column longevity
df.loc[:,['longevity']]

                   longevity
breed
German Shepherd         9.73
Beagle                 12.30
Yorkshire Terrier      12.60
Golden Retriever       12.04
Bulldog                 6.29

## Indexing by Boolean masks (3/6)

In [7]:
# A boolean mask
df["size"]=="small"

breed
German Shepherd      False
Beagle                True
Yorkshire Terrier     True
Golden Retriever     False
Bulldog              False
Name: size, dtype: bool

In [8]:
# select dogs with small size
df.loc[df["size"]=="small"]

                    type  longevity   size  weight
breed
Beagle             hound       12.3  small     NaN
Yorkshire Terrier    toy       12.6  small     5.5

In [9]:
# select dogs with small size and hound type 
df.loc[(df["size"]=="small") & (df["type"]=="hound")]

         type  longevity   size  weight
breed
Beagle  hound       12.3  small     NaN

# Indexing using slices (4/6)

In [10]:
# select row 1 and row 2, and column 0 and column 1
df.iloc[1:3,0:2]

                    type  longevity
breed
Beagle             hound       12.3
Yorkshire Terrier    toy       12.6

In [11]:
# select 3 specific rows and 2 specific columns
df.iloc[[1,3,0],[0,2]]

                      type    size
breed
Beagle               hound   small
Golden Retriever  sporting  medium
German Shepherd    herding   large

## Column based and row based indexing (5/6)

In [12]:
# select the column longevity
df['longevity']

breed
German Shepherd       9.73
Beagle               12.30
Yorkshire Terrier    12.60
Golden Retriever     12.04
Bulldog               6.29
Name: longevity, dtype: float64

In [13]:
# select the column longevity, using dot notation
df.longevity

breed
German Shepherd       9.73
Beagle               12.30
Yorkshire Terrier    12.60
Golden Retriever     12.04
Bulldog               6.29
Name: longevity, dtype: float64

In [14]:
# select columns longevity and size
df[['longevity', 'size']]

                   longevity    size
breed
German Shepherd         9.73   large
Beagle                 12.30   small
Yorkshire Terrier      12.60   small
Golden Retriever       12.04  medium
Bulldog                 6.29  medium

In [15]:
# select rows Beagle and Bulldog
df['longevity'][['Beagle', 'Bulldog']]

breed
Beagle     12.30
Bulldog     6.29
Name: longevity, dtype: float64

## Hierarchical indexing (6/6)

In [16]:
# read all data again, make DataFrame multi-indexed using columns size and type
df2 = pd.read_csv(io.StringIO(csv))
df2.set_index(['size', 'type'], inplace=True)

# sort index to improve performance and avoid warnings about performance
df2.sort_index(inplace=True)
df2

                                             breed  longevity  weight
size   type
large  herding                     German Shepherd       9.73     NaN
       sporting         German Shorthaired Pointer      11.46    62.5
       working                          Rottweiler       9.11     NaN
       working                   Doberman Pinscher      10.33     NaN
       working                          Great Dane       6.96     NaN
medium non-sporting                        Bulldog       6.29    45.0
       non-sporting                         Poodle      11.95     NaN
       non-sporting                 Boston Terrier      10.92     NaN
       non-sporting                 French Bulldog       9.00    27.0
       sporting                   Golden Retriever      12.04    60.0
       sporting                 Labrador Retriever      12.04    67.5
       working                               Boxer       8.81     NaN
       working                      Siberian Husky      12.58    47.5
small  herding                   Shetland Sheepdog      12.53    22.0
       hound                                Beagle      12.30     NaN
       hound                             Dachshund      12.63    24.0
       terrier                 Miniature Schnauzer      11.81    15.5
       toy                       Yorkshire Terrier      12.60     5.5
       toy                                Shih Tzu      13.20    12.5
       toy                               Chihuahua      16.50     5.5
       toy                              Pomeranian       9.67     5.0
       toy           Cavalier King Charles Spaniel      11.29    15.5
       toy                                 Maltese      12.25     5.0

In [17]:
# using hierarchical index, (size, type) 
df2.loc[('small', 'hound')]

                 breed  longevity  weight
size  type
small hound     Beagle      12.30     NaN
      hound  Dachshund      12.63    24.0

## Accessing scalar values directly

Note: iat, at are meant for accessing scalar values, while iloc and loc are meant for accessing several elements at the  same time

In [18]:
df

                           type  longevity    size  weight
breed
German Shepherd         herding       9.73   large     NaN
Beagle                    hound      12.30   small     NaN
Yorkshire Terrier           toy      12.60   small     5.5
Golden Retriever       sporting      12.04  medium    60.0
Bulldog            non-sporting       6.29  medium    45.0

In [29]:

# accessing cell value directly using row index and column index (fast)
df.iat[0,1]

9.73

In [21]:
# accessing cell value directly using row label and column label
df.at["Bulldog", "longevity"]

6.29